{% extends "bootstrap/base.html" %}

{% block styles %}
{{ super() }}
<script>
  if ( window.history.replaceState ) {
    window.history.replaceState( null, null, window.location.href );
  }
  if ("{{message}}".startsWith("Error")) {
    alert("{{message}}")
  }
</script>
{% endblock %}


{% block content %}
{{ super() }}
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('index') }}">阿笠博士</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        {%for event in activeEvents %}
          <li class="
          {%if event == showingEvent %}
          active
          {%endif%}
          "><a href="{{ url_for('showEvent', event = event) }}">{{ event }}</a></li>
        {%endfor%}
      </ul>
    </div>
    <form method="post" enctype = "multipart/form-data">
      <input id="new_event_input" type="text" name="infoStr" value="{{currentInfoStr}}"/>
      <input name="action" type="hidden" value="NEWEVENT">
      <button type="submit">New</button>
    </form>
</nav>
<h2 color="red">{{message}}</h2>
<br />
{% endblock %}