{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
<script>

  const rates = {
    {% for fromC in currencies %}
      "{{fromC}}": {
      {% for (toC, rate) in currencies[fromC].items() %}
      "{{toC}}":{{rate}},
      {%endfor%}
      },
    {%endfor%}
  }
  let originalCurrency = "{{originalCurrency}}";
</script>
<script src="{{url_for('static', filename='js/event.js')}}"></script>
{% endblock %}


{% block content %}
{{ super() }}
<h3>Add new entry: </h3>
<form method="post" enctype = "multipart/form-data">
   <!-- reporter -->
   <table class="table-condensed">
    <tr>
      <td>
        <label for="reportor">Who paid</label>
      </td>
      <td>
        <select name="reportor">
          {%for p in people%}
            <option value="{{p}}">{{p}}</option>
          {%endfor%}
        </select>
      </td>
    </tr>
    <!-- date -->
    <tr>
      <td>
        <label for="date">Date</label>
      </td>
      <td>
        <input required type="date" name="date" value="{{today}}"/>
      </td>
    </tr>
    <!-- item -->
    <tr>
      <td>
        <label for="item">Description</label>
      </td>
      <td>
        <input required type="text" name="item"/>
      </td>
    </tr>
    <!-- currency -->
    <tr>
      <td>
        <label for="currency">Currency</label>
      </td>
      <td>
        <select name="currency">
          {% for (c, rate) in currencies.items() %}
          <option value="{{c}}">{{c}}</option>
          {%endfor%}
        </select>
      </td>
    </tr>
    <!-- calculator -->
    <tr>
      <td>
        <label for="calculator">Calculator</label>
      </td>
      <td>
        <input id="calc_eval_input" type="text" name="calculator"
               onkeyup="calculator_eval(this)" 
               placeholder="Enter calculation" />
      </td>
    </tr>
    <!-- amount -->
    <tr>
      <td>
        <label id="new_amount_label" for="amount">Amount</label>
      </td>
      <td>
        <input required id="new_amount_input" type="number" 
              onkeyup="amount_input_edited()"
              step="0.01" name="amount"/>
      </td>
    </tr>
    <!-- target -->
    <tr>
      <td>
        <label for="target">Who should pay back</label>
      </td>
      <td>
        <select name="target">
          <option value="shared">Shared</option>
          {%for p in people + share_option%}
            <option value="{{p}}">{{p}}</option>
          {%endfor%}
        </select>
      </td>
    </tr>
    <!-- File -->
    <tr>
      <td>
        <label for="attachment">Image (optional)</label>
      </td>
      <td>
        <input type="file" name="attachment"/>
      </td>
    </tr>
   </table>
  <!-- submit -->
  <input name="action" type="hidden" value="ADD">
  <button type="submit">Add</button>
</form>

<br/>

<h3>TOTAL PAYABLE: </h3>
<!-- currency -->
<label for="currency">Currency</label>
<select id="display_currency_switch" value="{{preferredCurrency}}" name="currency" onchange="rateOnChange(this)">
  {% for (c, rate) in currencies.items() %}
  <option value="{{c}}" 
    {%if c == preferredCurrency %}
    selected
    {%endif%}>{{c}}</option>
  {%endfor%}
</select>
<br/>
<!-- RATES -->
{
{% for (toC, rate) in currencies[originalCurrency].items() %}
{{toC}}: <strong name="dynamicRate" value="{{rate}}">{{ rate }}</strong>
{%endfor%}
}
<br/>
{% for (payer, payee, amount) in payCondensed %}
  {{ payer }} pay {{ payee }}: <strong name="switchableCurrency" value="{{amount}}">{{ amount }}</strong> <br/>
{%endfor%}
<br/>
<!-- PAY TABLE -->
<table class="table table-hover">  
  <tr>
    <th>Payer \ Receiver</th>
    {%for p in people%}
      <th>{{p}}</th>
    {%endfor%}
  </tr>
  {%for k in payTable%}
    <tr>
      <td>{{ k }}</td>
      {%for p in people%}
        <th>
          <strong name="switchableCurrency" value="{{payTable[k][p]}}">{{ payTable[k][p] }}</strong>
        </th>
      {%endfor%}
    </tr>
  {%endfor%}
</table>
<br />

<h3>Last 100 Records:</h3>
<table id="last_100_records_table" class="table table-striped">
  <tr>
  {%for k, display_h in headers.items()%}
      <th id="record_table_{{display_h}}_header_th">
        {{display_h}}
        <input type="text" id="{{display_h}}_search_input" 
                onkeyup="table_search(this)" 
                placeholder="Search {{display_h}}" />
      </th>
  {%endfor%}
  </tr>

  {%for record in lastRecords%}
    <tr>
      {%for k, display_h in headers.items() %}
        {%if k in record %}
          <td class="searchable_{{display_h}}" onclick="open_img(this)">
            {%if k == "attachment" and record[k] != "" %}
              {{ url_for('static', filename='attachments/' + showingEvent + '/' + record[k]) }}
              <img 
                style="max-width:300px" 
                {% if hideImg %}
                  src="" 
                {% else %}
                  src="{{ url_for('static', filename='attachments/' + showingEvent + '/' + record[k]) }}"
                {%endif%}
                class="image" 
                />
            {% else %}
              {{ record[k] }}
            {%endif%}
          </td>
        {%endif%}
      {%endfor%}
      <td>
        <form method="post">
          <input name="action" type="hidden" value="DEL">
          <input value="{{record.name}}" type="hidden" name="hash">
          <button type="submit">DEL</button>
        </form>
      </td>
    </tr>
  {%endfor%}
</table>

<script>
  cur_switch = document.getElementById("display_currency_switch");
  rateOnChange(cur_switch)
</script>
{% endblock %}
{{ footer }}