{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
<script>
  if ("{{message}}".startsWith("Error")) {
    alert("{{message}}")
  }

  yenRate = {
    {% for (toC, rate) in currencies['YEN'].items() %}
    {{toC}}:{{rate}},
    {%endfor%}
  }

  function rateOnChange(event) {
    toC = event.value
    rate = yenRate[toC]
    for (let strong of document.getElementsByName("switchableCurrency")) {
      strong.innerHTML = (parseFloat(strong.attributes['value'].value) * rate).toFixed(2);
    }
  }
</script>
{% endblock %}


{% block content %}
{{ super() }}
<h2 color="red">{{message}}</h2>
<br />
<h3>Add new entry: </h3>
<form method="post">
   <!-- reporter -->
  <label for="payee">Payee</label>
  <select name="payee">
    {%for p in people%}
      <option value="{{p}}">{{p}}</option>
    {%endfor%}
  </select>
  <br/>
  <!-- item -->
  <label for="item">Item</label>
  <input required type="text" name="item"/>
  <br/>
  <!-- currency -->
  <label for="currency">Currency</label>
  <select name="currency">
    <option value="YEN">YEN</option>
    <option value="HKD">HKD</option>
    <option value="AUD">AUD</option>
  </select>
  <br/>
  <!-- amount -->
  <label for="amount">Amount</label>
  <input required type="number" name="amount"/>
  <br/>
  <!-- target -->
  <label for="target">Payer</label>
  <select name="target">
    <option value="shared">Shared</option>
    {%for p in people%}
      <option value="{{p}}">{{p}}</option>
    {%endfor%}
  </select>
  <br/>
  <!-- submit -->
  <input name="action" type="hidden" value="ADD">
  <button type="submit">Add</button>
</form>

<br/>

<h3>TOTAL PAYABLE: </h3>
<!-- currency -->
<label for="currency">Currency</label>
<select id="display_currency_switch" name="currency" onchange="rateOnChange(this)">
{% for (c, rate) in currencies.items() %}
<option value="{{c}}">{{c}}</option>
{%endfor%}
</select>
<br/>
{% for (payer, payee, amount) in payCondensed %}
  {{ payer }} pay {{ payee }}: <strong name="switchableCurrency" value="{{amount}}">{{ amount }}</strong> <br/>
{%endfor%}
<br/>
<table class="table">  
  <tr>
    <th>Payer \ Receiver</th>
    {%for p in people%}
      <th>{{p}}</th>
    {%endfor%}
  </tr>
  {%for k in payTable%}
    <tr>
      <td>{{ k }}</td>
      {%for p in people%}
        <th>
          <strong name="switchableCurrency" value="{{payTable[k][p]}}">{{ payTable[k][p] }}</strong>
        </th>
      {%endfor%}
    </tr>
  {%endfor%}
</table>
<br />

<h3>Last 100 Records:</h3>
<table class="table">

  <tr>
  {%for h in headers%}
      <th>{{ h }}</th>
  {%endfor%}
  </tr>
  
  {%for record in lastRecords%}
    <tr>
      {%for v in record%}
        <td>{{ v }}</td>
      {%endfor%}
      <td>
        <form method="post">
          <input name="action" type="hidden" value="DEL">
          <input value="{{','.join(record)}}" type="hidden" name="toDel">
          <button type="submit">DEL</button>
        </form>
      </td>
    </tr>
  {%endfor%}
</table>

<script>
  rateOnChange(document.getElementById("display_currency_switch"))
</script>
{% endblock %}
{{ footer }}